
  <div class="b-card">
    
    <!-- <a class="b-card__overlay-link" href="/car/2538"></a> -->
    <div class="b-card-loader">
      <p (click)="openPopup()">Добавить..</p>
    </div>
    <!-- <div class="b-card-header">
      <img alt="Авто с пробегом" class="b-card-header__image" src="https://az783321.vo.msecnd.net/production/600.18869cb027a14a4bbdbaa84267f24fbc.jpg">
   
    </div>
    <div class="b-card-features">
      <div class="b-card-features__accordion">
      
        <span class="b-card-features__item" tooltip="" tooltiptitle="Предложение недели" title="В течение недели на данный автомобиль предоставляется специальная скидка от первоначальной цены на сайте Автомамы.">
          <span class="b-card-features__inner">
            <span class="b-card-features__icon b-card-features__icon_offer-week"></span>
            <span class="b-card-features__text">Предложение недели</span>
          </span>
        </span>

        <span class="b-card-features__item" tooltip="" tooltiptitle="Идеальное состояние" title="Данный автомобиль не имеет никаких эксплуатационных дефектов и повреждений, не участвовал в ДТП, детали кузова в заводском окрасе, в наличии полный комплект ключей и документов, оригинал ПТС (для автомобиля возрастом более 5 лет — не имеет значительных повреждений, косметический окрас не более 2-х деталей кузова, в наличии полный комплект ключей и документов, оригинал ПТС).">
          <span class="b-card-features__inner">
            <div class="b-card-features__icon b-card-features__icon_best-state"></div>
            <span class="b-card-features__text">Идеальное состояние</span>
          </span>
        </span>

      </div>
    </div>
    <div class="b-card__bottom">
      <div class="b-card__description">
        <h4 class="b-h4_no-margin">
          <span class="b-card__description-title">Kia Soul</span>
          <span class="b-card__description-year">2014, </span>
          <span class="b-card__description-city">Ростов-на-Дону</span>
        </h4>
        <hr class="b-hr b-hr_inner-block">
        <div class="b-card-price">
          <div class="b-card-price__col-2">
            <span class="b-card-price__title">Цена:</span>
            <span class="b-card-price__description b-card-price__description_sale">645 000 ₽</span>
      
            <span class="b-card-price__description b-card-price__description_old-price">693 000 ₽</span>
          </div>
          <div class="b-card-price__col-2">
            <span class="b-card-price__title">В кредит:</span>
            <div class="b-card-price__description b-card-price__description_credit">11 837&nbsp; ₽/мес
            </div>
          </div>
        </div>
      </div>
      <div class="b-card__info">
        <div class="b-card__info-txt"> 56 341 км | 1.6 л, 124 л. с., Бензиновый | Механика, Передний привод | Внедорожник </div>
      </div>
    </div> -->
  </div>
