
.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #00000030;
    &__wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        padding: 40px;
        border-radius: 4px;
        background-color: $white;
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        height: 20px;
        width: 20px;
        background: url("./i/icon-close-rounded.svg") 50% no-repeat; 
        background-size: contain;
        cursor: pointer;
    }
    &__item {
        flex: 1 0 33%;
        margin: 10px;
        padding: 10px;
        border-radius: 4px;
        border: $border;
    }
}