$red: #ed1c24;
$dark: 333;
$dark-blue: #20374e;
$white: white;
$grey: #e5e5e5;
$grey-dark: #999;
$grey-light: #e6e6e6;
$grey-extralight: #CCCCCC;
$color-text: #666;
$font-size: 16px;
$font-primary: 'Open Sans';
$box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05);